<div (click)="$event.stopPropagation()">
    <div class="container-box">
      <span *ngIf="savedList.length == 0" class="place-holder">{{selectSettings.placeholder}}</span>
      <div class="container-list" *ngFor="let list of savedList; let i=index">
        <div class="container-list-items" [ngClass]="selectSettings.isShowImage == true ? '' : 'image-hide'">
          <span *ngIf="selectSettings.isShowImage" class="c_image"><img  [src]="list.image" alt="Girl in a jacket" width="100" height="100"></span>
          {{list.name}}<span *ngIf="!selectSettings.singleSelect" (click)="onRemove(i, list)" class="close"></span>
        </div>
      </div>
      <span (click)="onClickArrow(isOpen)" [ngClass]="isOpen == false ? 'arrow' : 'arrow1'"></span>
    </div>
    <div *ngIf="selectSettings.isSelectAll && !selectSettings.singleSelect" class="selectall-container" (click)="onCheckAllChange(!isCheckedAll)" [ngClass]="isOpen == true ? 'searchOpen' : 'searchClose'">
      <input type="checkbox" [checked]="isCheckedAll" value="Select All" class="list-checkall"
         /><span *ngIf="!isCheckedAll">Select All</span>
        <span *ngIf="isCheckedAll">UnSelect All</span>
    </div>
    <div *ngIf="selectSettings.isSearch" [ngClass]="isOpen == true ? 'searchOpen' : 'searchClose'" class="container-search">
      <input type="text" class="search" name="search" placeholder="Search here..." [(ngModel)]="searchData">
    </div>
    <div class="search-result" [ngClass]="isOpen == true ? 'searchOpen' : 'searchClose'">
      <ul class="ul-inside">
        <li *ngFor="let value of dropdownList | search:searchData; let i=index" 
        (click)="onCheckChange(!value.checked, value)" [ngClass]="value.checked == true ? 'li-active' : ''">
          <div class="li-inside">
            <input *ngIf="!selectSettings.singleSelect" type="checkbox" [checked]="value.checked" class="list-check"/>
            <span *ngIf="selectSettings.isShowImage" ><img [src]="value.image" alt="Girl in a jacket" width="100" height="100"></span>
            <a class="a-name">{{value.name}}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>